.nom-statistic {
  .nom-statistic-title {
    margin-bottom: 4px;
    opacity: 0.45;
  }

  .nom-statistic-content {
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    .nom-statistic-content-prefix {
      margin-right: 4px;
    }

    .nom-statistic-content-suffix {
      margin-left: 4px;
    }
  }
}
