.nom-statistic .nom-statistic-title {
  margin-bottom: 4px;
  color: var(--nom-statistic-title-color);
}
.nom-statistic .nom-statistic-content {
  color: var(--nom-statistic-content-color);
  font-size: 24px;
}
.nom-statistic .nom-statistic-content .nom-statistic-content-prefix {
  margin-right: 4px;
}
.nom-statistic .nom-statistic-content .nom-statistic-content-suffix {
  margin-left: 4px;
}
