table.nom-table {
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
    border-collapse: collapse;

    td,
    th {
        padding: 8px 14px;
    }

    th {
        position: relative;
        padding-right: 2rem;
        font-weight: 500;
        line-height: 26px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        background-color: #F8F8F8;
        background-image: linear-gradient(to bottom, #FCFCFC 0, #F8F8F8 100%);

        >.nom-table-filter {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 100%;
            color: #bfbfbf;
        }
    }

    &.p-line-row {

        td,
        th {
            border-bottom: 1px solid @oc-gray-2;
        }
    }

    &.p-line-col {

        td,
        th {
            border-right: 1px solid @oc-gray-2;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &.p-line-both {

        td,
        th {
            border-right: 1px solid @oc-gray-2;
            border-bottom: 1px solid @oc-gray-2;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &.p-bordered {
        border: 1px solid @oc-gray-2;
    }
}