.nom-tour-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.nom-tour-description {
    margin: 1rem 0;
}

.nom-tour-container {
    min-width: 300px;
    padding: 1rem;
    .nom-preset-layer()
}

.nom-tour-backdrop {
    box-shadow: 0 0 0 100vw var(--nom-layer-backdrop-color);
    border-radius: var(--nom-tour-rect-radius) ;
    position: fixed;
}