.nom-skeleton {
  padding: 25px;
  .nom-skeleton-avatar {
    background: #f0f0f0;
    animation: skeleton 2s infinite;
  }
  .nom-skeleton-title {
    width: 200px;
    max-width: 60%;
    height: 1.6rem;
    margin-bottom: 1rem;
    background: #f0f0f0;
    border-radius: 2px;
    animation: skeleton 2s infinite;
  }
  .nom-skeleton-paragraph {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      width: 100%;
      height: 1rem;
      margin-bottom: 0.5rem;
      background: #f0f0f0;
      border-radius: 2px;
      animation: skeleton 2s infinite;
      &:last-child {
        width: 70%;
        margin-bottom: 1.5rem;
      }
    }
  }
  @keyframes skeleton {
    0% {
      background: #f0f0f0;
    }
    50% {
      background: #e0e0e0;
    }
    100% {
      background: #f0f0f0;
    }
  }
}
