.nom-tree {
  .nom-tree-node-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    cursor: pointer;
    &:hover {
      .u-color-lgray();
    }
    &.s-selected {
      .u-color-lprimary();
    }

    > .nom-tree-node-expandable-indicator {
      width: 30px;
      height: 24px;

      &.is-leaf {
        color: transparent;
      }
    }

    > .nom-tree-node-checkbox {
      margin-right: 6px;
    }
  }
}
