body {
  // Font
  --nom-font-family-en: tahoma, arial, 'Helvetica Neue', helvetica, sans-serif;

  // Box Element
  --nom-border-radius: 4px;
  --nom-border-color: var(--nom-color-border);

  // Field & Textbox
  --nom-input-color: var(--nom-color-text-0);
  --nom-input-placeholder-color: var(--nom-color-text-2);
  --nom-input-bg: var(--nom-color-bg-0);
  --nom-input-bg-disabled: var(--nom-color-disabled-bg);
  --nom-control-icon-color: var(--nom-color-text-1);
  --nom-field-gutter-base: @gutter-base;

  // Checkbox & Radio
  --nom-checkbox-bg: transparent;
  --nom-checkbox-border-color: var(--nom-border-color);
  --nom-checkbox-border-radius: 1px;
  --nom-checkbox-checker-color: var(--nom-color-white);
  --nom-checkbox-part-checker-color: var(--nom-color-text-2);
  --nom-checkbox-part-checker-border-radius: 0;
  --nom-checkbox-checked-bg: var(--nom-color-primary);
  --nom-checkbox-checked-border-color: var(--nom-checkbox-checked-bg);
  --nom-checkbox-bg-hover: var(--nom-color-hover);
  --nom-checkbox-checked-bg-hover: var(--nom-color-primary-hover);
  --nom-checkbox-box-shadow: none;
  --nom-checkbox-checker-box-shadow: none;

  // Button
  --nom-button-bg: var(--nom-color-white);

  // layer
  --nom-layer-background-color: var(--nom-color-bg-0);
  --nom-layer-border: transparent;
  --nom-layer-border-radius: 6px;
  --nom-layer-box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75), 0 10px 15px -5px rgba(0, 0, 0, 0.15);

  // Select
  --nom-select-selected-item-bg: var(--nom-color-bg-0);
  --nom-select-selected-item-border-color: var(--nom-border-color);
  --nom-select-selected-item-padding: 0 5px;

  // Rate
  --nom-rate-color: rgba(var(--nom-yellow-5), 1);
  --nom-rate-color-muted: rgba(var(--nom-grey-2), 1);
}
