body {
  --nom-border-radius: 4px;
  --nom-line-height: @line-height-computed;
  --nom-font-size-base: @font-size-base;
  --nom-input-color: var(--nom-color-text-0);
  --nom-input-padding: @padding-y-base @padding-x-base;
  --nom-input-height: @input-height-base;
  --nom-textbox-affix-padding: 0 @padding-x-base;
  --nom-input-height-base-inner: @input-height-base-inner;
  --nom-control-icon-color: var(--nom-color-text-1);
  --nom-field-gutter-base: @gutter-base;
  --nom-input-bg-disabled: var(--nom-color-disabled-bg);
}
