.list-view {
  position: relative;
  overflow: auto;
  border: 1px solid #ced4da;
}

.list-view-phantom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.list-view-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}
