.nom-file-list {
  margin-top: 2em;
}

.nom-file-list> :not(:last-child) {
  margin-bottom: 1em;
}

.nom-file-list-only {
  margin-top: 0;
}

.upload-img-container {
  width: var(--nom-uploader-file-img-size);
  height: var(--nom-uploader-file-img-size);
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.upload-info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.upload-file-name {
  margin-right: 10px;
  color: var(--nom-color-primary);

  &:hover {
    text-decoration: none;
  }
}

.upload-file-update {
  margin-left: 10px;
  padding-left: 10px;
}

.upload-opt-btn>a {
  color: var(--nom-text-color);

  &:hover {
    color: var(--nom-color-primary);
    text-decoration: none;
  }
}

.upload-opt-btn> :not(:last-child) {
  margin-right: 20px;
}

.upload-opt-removing>a {
  cursor: not-allowed;
}

.file-img {
  font-size: var(--nom-uploader-file-img-size);
}

.file-loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: var(--nom-uploader-file-img-size);
  transform: translate(-50%, -50%);
}