.nom-field {
    >.nom-field-label {
        margin-bottom: -.5rem;

        >.nom-label {
            display: block;
        }
    }

    &.p-required.p-required-mark {
        >.nom-field-label {
            >.nom-label::before {
                display: inline-block;
                margin-right: 4px;
                color: #ff4d4f;
                font-size: 14px;
                font-family: SimSun, sans-serif;
                line-height: 1;
                content: "*";
            }
        }
    }

    @media (min-width: @screen-sm-min) {

        &.p-label-align-right,
        &.p-label-align-left {
            display: flex;

            >.nom-field-label {
                width: 10rem;
                margin-bottom: 0;

                >.nom-label {
                    padding: (@padding-y-base);
                }
            }
        }

        &.p-label-align-right {
            >.nom-field-label {
                text-align: right;
            }
        }

        &.m-label-align-left {
            >.nom-field-label {
                text-align: left;
            }
        }
    }

    &.p-span-auto {
        width: auto;
    }

    
}