.nom-comment-author {
  margin-right: 1rem;
  text-decoration: none;
}
.nom-comment-action-btn {
  margin-right: 1rem;
  text-decoration: none;
  visibility: hidden;
}
.nom-comment-reply {
  margin-left: 3rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  color: #aaa;
  font-size: 10px;
  border-left: 4px solid #dadada;
}
.nom-comment-list {
  margin-bottom: 1rem;
}
.nom-comment-list:hover .nom-comment-action-btn {
  visibility: visible;
}
.nom-comment-reply-to {
  display: none;
  margin-right: 0.5rem;
  color: #aaa;
}
.nom-comment-reply-to-show {
  display: inline-block;
}
