.nom-back-top-container {
  position: absolute;
  z-index: 9999;
  display: inline-block;
  background-color: var(--nom-color-fill-0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .nom-back-top-icons {
    padding: 8px;
    color: var(--nom-color-primary);
    font-size: 20px;
    line-height: 1;
  }
  .nom-back-top-text {
    padding: 10px;
    color: var(--nom-color-primary);
    font-size: 14px;
    text-align: center;
  }
}
.nom-back-top-container:hover {
  background-color: var(--nom-color-fill-1);
}
