.nom-back-top-container {
  position: absolute;
  z-index: 9999;
  display: inline-block;
  background-color: var(--nom-backtop-bg-default);
  border-radius: var(--nom-backtop-border-radius);
  box-shadow: var(--nom-backtop-box-shadow); 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .nom-back-top-icons {
    padding: 8px;
    color: var(--nom-backtop-color);
    font-size: 20px;
    line-height: 1;
  }
  .nom-back-top-text {
    padding: 10px;
    color: var(--nom-backtop-color);
    font-size: 14px;
    text-align: center;
  }
}
.nom-back-top-container:hover {
  background-color: var(--nom-backtop-bg-hover);
  .nom-back-top-icons, .nom-back-top-text {
    color: var(--nom-backtop-color-hover);
  }
}
