.nom-cascader {
  > .nom-field-label + .nom-field-content {
    width: 0;
  }
  > .nom-field-content {
    .nom-control {
      &:hover {
        border: 1px solid @primary;
      }

      position: relative;
      min-height: 34px;
      padding: 6px 24px 6px 12px;
      color: #000 !important;
      line-height: @line-height-base;
      background: white;
      border: 1px solid gainsboro;
      border-radius: 2px;
      cursor: pointer;

      .nom-cascader-content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .nom-cascader-icon {
        position: absolute;
        top: 0;
        right: 8px;
        bottom: 0;
      }

      .nom-cascader-placeholder {
        color: #bfbfbf;
      }
    }
  }
}

.nom-cascader-popup > .nom-layout {
  max-height: 300px;

  &.nom-cascader-pop-container {
    display: block;
  }
  > .nom-layout-body {
    overflow-x: hidden;

    .nom-cascader-menu {
      display: inline-block;
      min-width: 111px;
      // height: 250px;
      margin: 0;
      padding: 4px 0;
      overflow: auto;
      overflow-x: hidden;
      white-space: nowrap;
      vertical-align: top;
      list-style: none;
      border-right: 1px solid #f0f0f0;
      > .nom-cascader-menu-item {
        &:hover {
          background-color: #f5f5f5;
          cursor: pointer;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        > .nom-cascader-menu-item-expand-icon {
          padding-left: 1rem;
        }
      }

      > .nom-cascader-menu-item-active {
        background-color: #e6f7ff;
      }
    }
  }
}
