// Button sizes
.badge-size(@padding-y; @padding-x; @font-size; @line-height; @border-radius) {
  padding: @padding-y @padding-x;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

.nom-badge {
  /* Structure */
  display: inline-block;
  color: @text-color-lt;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: @border-color;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  zoom: 0.95;
  .badge-size(@padding-y-base; @padding-x-base;@font-size-base; @line-height-base; @border-radius);

  &.p-size-sm {
    // line-height: ensure proper height of button next to small input
    .badge-size(@padding-y-sm; @padding-x-sm; @font-size-sm; @line-height-sm; @border-radius-sm);
  }

  &.p-size-xs {
    // line-height: ensure proper height of button next to small input
    .badge-size(@padding-y-xs; @padding-x-xs; @font-size-sm; @line-height-sm; @border-radius-sm);
  }

  &.p-size-lg {
    // line-height: ensure proper height of button next to small input
    .badge-size(@padding-y-lg; @padding-x-lg; @font-size-lg; @line-height-lg; @border-radius-lg);
  }

  &.p-size-xl {
    // line-height: ensure proper height of button next to small input
    .badge-size(@padding-y-xl; @padding-x-xl; @font-size-xl; @line-height-lg; @border-radius-lg);
  }

  &.p-plain {
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: #e6e6e6;
      outline: none;
    }
  }

  &.p-color-red {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
  }

  &.p-color-orange {
    color: #fff;
    background-color: #f79954;
    border-color: #f79954;
  }

  &.p-color-yellow {
    color: #fff;
    background-color: #eeb328;
    border-color: #eeb328;
  }

  &.p-color-olive {
    color: #fff;
    background-color: #afd442;
    border-color: #afd442;
  }

  &.p-color-green {
    color: #fff;
    background-color: #62ba61;
    border-color: #62ba61;
  }

  &.p-color-teal {
    color: #fff;
    background-color: #00a294;
    border-color: #00a294;
  }

  &.p-color-blue {
    color: #fff;
    background-color: #5b83ff;
    border-color: #5b83ff;
  }

  &.p-color-violet {
    color: #fff;
    background-color: #9763d5;
    border-color: #9763d5;
  }

  &.p-color-purple {
    color: #fff;
    background-color: #c79bfa;
    border-color: #c79bfa;
  }

  &.p-color-pink {
    color: #fff;
    background-color: #d266a3;
    border-color: #d266a3;
  }

  &.p-color-brown {
    color: #fff;
    background-color: #fcb474;
    border-color: #fcb474;
  }

  &.p-color-crimson {
    color: #fff;
    background-color: #e6645f;
    border-color: #e6645f;
  }

  &.p-color-skyblue {
    color: #fff;
    background-color: #68b9f2;
    border-color: #68b9f2;
  }

  &.p-color-silver {
    color: #333;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
  }

  &.p-with-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  > .nom-icon {
    display: inline-flex;
  }
  > .nom-icon + span,
  > span + .nom-icon {
    margin-left: 0.1rem;
  }

  &.p-type-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    padding: 0 !important;
    border-radius: 200px;
    transform: translate(50%, -50%);
    zoom: 1;
  }
  &.p-type-dot.p-with-number {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    min-width: 16px;
    max-width: 30px;
    height: 16px;
    padding: 1px 3px;
    overflow: hidden;
    font-size: 10px;
    line-height: 13px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 200px;
    transform: translate(50%, -50%);
  }
  .nom-badge-remove {
    position: relative;
    top: 2px;
    margin-left: 1px !important;
    svg {
      fill: #fff;
    }
  }
}

.s-with-badge {
  position: relative;
}
