.nom-date-picker-popup {
  .nom-datepicker-popup-hd {
    height: 4.5rem;
    padding: .5rem 1rem;
    // background: #f6f6f6;
    border-bottom: 1px solid var(--nom-color-border);
  }

  .nom-datepicker-popup-bd {
    padding: .5rem 1rem 0 1rem;
    height: 280px;
  }

  .nom-datepicker-footer {
    padding: .75rem 1.5rem;
    border-top: 1px solid var(--nom-color-border);
  }

  .time-display {
    border-bottom: 1px solid var(--nom-color-border);
    line-height: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    text-align: center;
  }


  .nom-select {
    .nom-select-single {
      padding-left: .5rem;
    }
  }

  .nom-datepicker-panel-header {
    text-align: center;
    padding: 5px 0 2px 0;
    color: var(--nom-date-picker-header-text-color);

    .nom-flex-item {
      width: 2.4rem;
      height: 1.6rem;
      text-align: center;
    }
  }

  .nom-datepicker-panel-days {
    >ul {
      >.nom-list-item-wrapper {
        padding: .2rem;

        .nom-datepicker-day-item {
          width: 2.4rem;
          height: 2.4rem;
          text-align: center;
          line-height: 2.4rem;
          border-radius: 200px;
          transition: all .5s;

          &:hover {
            background: var(--nom-color-fill-1);
          }

          &.s-selected {
            background: var(--nom-color-primary);
            color: white;
          }

          &.nom-datepicker-today-item:not(.s-selected) {
            position: relative;
            background: transparent;
            color: var(--nom-color-primary);

            &:hover {
              background: var(--nom-color-fill-1);
            }

            &::after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 6px;
              height: 6px;
              border-radius: 200px;
              background: var(--nom-color-primary);

            }

          }
        }

      }

    }

  }



  .nom-list .nom-list-content .nom-list-item-wrapper .nom-list-item.s-disabled {
    opacity: 0.5;
  }

  .timepicker-group {
    >.nom-col {
      width: 60px;
      max-height: 280px;
      overflow-y: auto;
      text-align: center;
      scroll-behavior: smooth;
      border-left: 1px solid var(--nom-border-color);
      scrollbar-width: none; // 隐藏滚动条
      -ms-overflow-style: none;

      ::-webkit-scrollbar {
        display: none;
      }

      .nom-list-item {
        padding: 0.25rem;
        cursor: pointer;
        .nom-preset-hover; // 基础对象想要hover时有背景色变化，使用这个预设类

        &.s-selected {
          .nom-preset-primary; // primary对象预设类，包括了它的hover、active、disabled样式
        }
      }
    }
  }
}