.nom-color-picker-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--nom-color-picker-control-size);
    height: var(--nom-color-picker-control-size);
    border: 1px solid #d9d9d9;
    border-radius: var(--nom-border-radius);
    user-select: none;

    >.nom-color-picker-color-block {
        width: var(--nom-color-picker-item-size);
        height: var(--nom-color-picker-item-size);
        border-radius: var(--nom-border-radius);
        cursor: pointer;
    }
}

.nom-color-picker {
    &.s-disabled {
        >.nom-field-content {
            >.nom-control {
                background-color: var(--nom-input-bg-disabled);
                cursor: not-allowed !important;
                opacity: 1;

                .nom-color-picker-color-block {
                    cursor: not-allowed;
                }
            }
        }
    }
}

.nom-color-picker-list {
    .nom-color-picker-list-item {
        width: var(--nom-color-picker-list-item-size);
        height: var(--nom-color-picker-list-item-size);
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: inline-flex;

        .nom-icon {
            opacity: 0;
        }

        &.s-selected {
            .nom-icon {
                opacity: 1;
            }
        }

    }

}