.nom-tree-select {
  &.p-label-align-right > .nom-field-label + .nom-field-content {
    width: 0;
  }
  > .nom-field-content {
    padding: 0.5rem 0.5rem;
    .nom-control {
      position: relative;
      height: 100%;
      min-height: 34px;
      padding: 6px 24px 6px 12px;
      color: #000 !important;
      line-height: 1.42857;
      background: white;
      border: 1px solid gainsboro;
      border-radius: 2px;
      cursor: pointer;
      .nom-tree-select-placeholder {
        overflow: hidden;
        color: #bfbfbf;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .nom-tree-select-clear {
        position: absolute;
        top: 0;
        right: 8px;
        bottom: 0;
        background: #fff;
        cursor: pointer;
      }
    }
  }

  .nom-tree-select-single {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .nom-tree-select-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    padding: 0 8px;
    line-height: 1;
  }
}
.nom-tree-select-item {
  display: block;
}

.nom-tree-select-popup {
  padding: 5px 5px;
  > .nom-layout {
    max-height: 300px;
  }
}
