.nom-comment-item-box {
  height: 300px;
  overflow-y: auto;
}

.nom-comment-author {
  margin-right: 1rem;
  text-decoration: none!important;
}
.nom-comment-action-btn {
  float: right;
  margin-right: 1rem;
  text-decoration: none!important;
  visibility: hidden;
}
.nom-comment-reply {
  margin-left: 3rem;
  padding-left: 0.5rem;
  color: #aaa;
  font-size: 10px;
  border-left: 4px solid #dadada;
}
.nom-comment-one:hover .nom-comment-action-btn {
  visibility: visible;
}
.nom-comment-reply-to {
  display: none;
  margin-right: 0.5rem;
  text-decoration: none!important;
}
.nom-comment-reply-to-show {
  display: inline-block;
}
.nom-comment-item .nom-col:nth-child(2) {
  width: 100%;
}
.nom-comment-item {
  margin-bottom: 1rem;
}
.nom-comment-action-btn-none {
  display: none;
}
.nom-comment-more {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
