.nom-auto-complete-popup {
  max-height: 300px;
  overflow: auto;
}

.nom-auto-complete-list {
  .nom-list-item-wrapper {
    &:hover {
      cursor: pointer;
      .nom-preset-hover;
    }

    > .nom-list-item {
      padding: 5px 16px;
    }

    > .s-selected {
      .nom-preset-primary;
    }
  }
}

.nom-auto-complete {
  .nom-auto-complete-clear {
    cursor: pointer;
  }
}
