.nom-auto-complete-popup {
  max-height: 300px;
  overflow: auto;
}

.nom-auto-complete-list {
  .nom-list-item-wrapper {
    &:hover {
      background-color: var(--nom-auto-complete-list-item-bg-hover);
      cursor: pointer;
    }

    > .nom-list-item {
      padding: 5px 16px;
    }

    > .s-selected {
      color: var(--nom-auto-complete-list-item-color-select);
      background-color: var(--nom-auto-complete-list-item-bg-select);
    }
  }
}

.nom-auto-complete {
  .nom-auto-complete-clear {
    cursor: pointer;
  }
}
