.nom-collapse-wrapper {
  font-size: inherit;
}

.nom-collapse-item {
  > .nom-collapse-item-title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: var(--nom-border-radius);
    user-select: none;
    .nom-icon {
      color: var(--nom-collapse-icon-color);
      cursor: pointer;
    }
    > .nom-collapse-right-icon {
      position: absolute;
      right: 0;
      transform: translateX(-50%);
    }
  }
  > .nom-collapse-item-content {
    border-radius: 0 0 var(--nom-border-radius) var(--nom-border-radius);
    transition: max-height 0.5s;
  }
  &.nom-collapse-bordered {
    .nom-collapse-item-title {
      padding: 0.5rem;
      border: 1px solid var(--nom-border-color);
    }
    .nom-collapse-item-content {
      padding: 0.5rem;
      border: 1px solid var(--nom-border-color);
    }
  }
  .nom-collapse-item-open {
    border-bottom: none !important;
    border-radius: var(--nom-border-radius) var(--nom-border-radius) 0 0;
  }
}
