.nom-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .nom-grid-header {
    z-index: 10;
    flex-shrink: 0;
  }

  .nom-grid-footer {
    z-index: 10;
    flex-shrink: 0;
  }

  .hidden {
    display: none;
  }

  .nom-expand-icon {
    cursor: pointer;
  }

  .nom-table-checker-with-toolbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .nom-grid-tr-hidden {
    display: none;
    pointer-events: none;
  }

  .nom-grid-setting {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    background: var(--nom-grid-header-background-color);
    display: flex;
    align-items: center;

    > .nom-grid-setting-btn {
      background-color: transparent;
    }

    &.p-line-col,
    &.p-line-both {
      border-left: 1px solid var(--nom-border-color);
    }
  }

  > .nom-grid-header {
    position: relative;
    overflow: hidden;

    .nom-table {
      position: relative;
      z-index: inherit;

      &::after {
        position: absolute;
        right: 0;
        bottom: 1px;
        left: 0;
        // width: 100%;
        z-index: inherit;
        border-bottom: var(--nom-grid-header-border);
        content: '';
      }
    }

    .nom-th {
      &.nom-table-parent-th {
        text-align: center;
      }

      .nom-table-filter-handler,
      .nom-table-pin-handler,
      .nom-table-sort-handler {
        margin-left: 5px;
        color: var(--nom-grid-icon-color);

        &.p-type-sort-up,
        &.p-type-sort-down,
        &.nom-filter-active {
          color: var(--nom-grid-icon-color-active);
        }
      }
    }

    &.nom-grid-highlight-col {
      th:hover {
        background-color: var(--nom-grid-highlight-bg);
        background-image: none;
      }
    }
  }

  > .nom-grid-body {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: auto;

    .nom-grid-body-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    > .nom-grid-body-content {
      overflow-x: auto;
    }
  }

  > .nom-grid-footer {
    position: relative;
    overflow: hidden;

    .nom-table {
      overflow: auto;
    }
  }

  &.p-bordered {
    border: 1px solid var(--nom-border-color);

    > .nom-grid-body {
      margin-bottom: -1px;
    }

    > .nom-grid-body + .nom-grid-footer {
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }

  &.nom-table-has-row-group {
    tbody tr,
    tbody tr:hover {
      background-color: inherit;
      transition: all ease-in 0.25s;
    }
  }

  &.m-frozen-header {
    position: relative;
    display: flex;
    flex-direction: column;

    > .nom-grid-header {
      flex-shrink: 0;
      background-color: var(--nom-grid-header-background-color);

      > .nom-table {
        background-color: var(--nom-grid-header-background-color);

        &::after {
          right: var(--nom-scrollbar-width);
          width: calc(100% - var(--nom-scrollbar-width));
        }
      }

      > .nom-grid-header-content {
        overflow: hidden;
      }
    }

    > .nom-grid-body {
      flex: 1;
      height: 100%;

      > .nom-grid-body-content {
        overflow-x: auto;
      }
    }
  }

  &.m-with-setting {
    .nom-table {
      .nom-thead-tr {
        &:first-child {
          th:last-child {
            padding-right: 40px;
          }
        }
      }
    }
  }

  &.m-excel-mode {
    --nom-grid-tr-bg-hover: #fff;
    --nom-grid-tr-striped-bg: #fff;
    --nom-grid-tr-striped-bg-hover: #fff;
    --nom-grid-tr-bg-selected: #fff;
    --nom-grid-tr-checked-bg: #fff;
    --nom-grid-tr-checked-bg-hover: #fff;
    --nom-grid-tr-modified-bg: #fff;
    --nom-grid-tr-modified-bg-hover: #fff;

    .nom-td-excel-mode {
      height: min(3rem);
      padding: 0 1rem;

      > .nom-td-excel-mode-inner {
        display: flex;
        align-items: center;

        > span:last-child {
          flex-grow: 1;
          width: 0;
        }
        > .nom-flex {
          flex-grow: 1;
        }
        .nom-grid-td-cell-tree {
          flex-grow: 1;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: var(--nom-grid-td-excel-mode-hover-box-shadow);
      }

      &.nom-td-excel-mode-active {
        padding: 0 0.25rem;
        cursor: pointer;
        box-shadow: var(--nom-grid-td-excel-mode-active-hover-box-shadow);
      }
    }
  }

  &.m-editable {
    --nom-grid-tr-bg-hover: #fff;
    --nom-grid-tr-striped-bg: #fff;
    --nom-grid-tr-striped-bg-hover: #fff;
    --nom-grid-tr-bg-selected: #fff;
    --nom-grid-tr-checked-bg: #fff;
    --nom-grid-tr-checked-bg-hover: #fff;
    --nom-grid-tr-modified-bg: #fff;
    --nom-grid-tr-modified-bg-hover: #fff;

    .nom-td-editable {
      height: min(3rem);
      padding: 0 1rem;

      .nom-td-editable-inner {
        display: flex;
        min-height: 1rem;

        > div:first-child {
          flex-grow: 1;
          width: 0;
          display: flex;

          > .nom-flex {
            flex-grow: 1;
          }

          .nom-grid-td-cell-tree {
            flex-grow: 1;
          }

          > span:last-child:not(.nom-table-cell-content) {
            flex-grow: 1;
            width: 0;
          }

          > span.nom-table-cell-content {
            display: flex;
            width: 100%;

            > div:only-child {
              display: flex;
              width: 100%;

              > .nom-field {
                flex-grow: 1;
              }

              > .nom-tree-grid-td {
                flex-grow: 1;
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .nom-grid-td-edit-trigger {
          display: none;
        }

        &:hover {
          .nom-grid-td-edit-trigger {
            display: inline-flex;
            cursor: pointer;
            color: var(--nom-grid-icon-color-muted);

            &:hover {
              color: var(--nom-color-primary);
            }
          }
        }
      }

      &.nom-td-editable-active {
        &:not(.nom-td-tree-node) {
          padding: 0 0.25rem;
        }

        cursor: pointer;

        .nom-td-editable-inner {
          .nom-grid-td-edit-trigger {
            display: none;
          }
        }
      }
    }
  }

  .nom-grid-checkbox {
    display: inline-flex;

    .nom-field-content {
      justify-content: center;
    }
  }

  .nom-table-cell-title {
    .nom-grid-checkbox();
  }

  .nom-grid-column-tools {
    display: inline-flex;
    padding-right: 0.25rem;
  }

  .nom-grid-column-tools-hover {
    visibility: hidden;
    opacity: 0;
  }

  .nom-grid-column-tools-hide {
    visibility: hidden !important;
  }

  .nom-grid-column-th-tools {
    display: inline-flex;
    padding-right: 0.25rem;
  }

  .nom-grid-column-th-tools-float-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .nom-grid-column-th-tools-hide {
    visibility: hidden !important;
  }

  tr:hover > td .nom-grid-column-tools-hover {
    visibility: visible;
    opacity: 1;
  }

  .nom-grid-column-th-tools-hover {
    visibility: hidden;
    opacity: 1;
  }

  th:hover .nom-grid-column-th-tools-hover {
    visibility: visible;
  }
}

.nom-grid-setting-panel {
  min-width: 300px;

  // .nom-tree {
  //   .nom-tree-node-content {
  //     position: relative;
  //     top: 0;
  //     transition: all 0.25s;

  //     &:hover {
  //       top: -2px;
  //       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  //     }
  //   }
  // }
}

.nom-grid-setting-drag {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nom-grid-setting-transfer {
  .nom-grid-setting-transfer-container {
    .nom-grid-setting-transfer-box {
      width: 240px;
      border: 1px solid var(--nom-border-color);
      border-radius: var(--nom-border-radius);
      height: calc(100vh - 300px);
      max-height: 500px;

      .nom-tree-node-expandable-indicator {
        width: 24px;
      }

      > .nom-layout-header {
        height: 40px;
        padding: 0 10px;

        .nom-checkbox {
          > .nom-field-content {
            line-height: 100%;
          }
        }
      }

      > .nom-layout-body {
        .nom-layout-header {
          height: 42px;
          border-bottom: none;
        }
      }

      > .nom-layout-footer {
        height: 40px;
        min-height: 40px;
        padding: 0 10px;
      }
    }
  }

  .nom-tree-node-content {
    position: relative;

    > .nom-grid-setting-item-pin {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .nom-grid-setting-group-title {
    .nom-tree-node-content {
      > .nom-icon,
      > .nom-tree-node-checkbox {
        display: none;
      }

      > .nom-tree-node-content-text {
        padding-left: 1rem;
        color: var(--nom-text-color-muted);
      }
    }
  }

  .nom-grid-setting-target-node {
    &.s-disabled {
      opacity: 0.65;
    }

    .nom-tree-node-content {
      .p-type-times {
        color: var(--nom-text-color-muted);
      }

      &:not(:hover) {
        .nom-tree-node-content-tools {
          visibility: hidden;
        }
      }

      > .nom-tree-node-content-text {
        flex-grow: 1;
      }
    }
  }
}

.nom-grid table.nom-table tbody tr.nom-grid-tr-modified:not(.nom-tr-empty) {
  background-color: var(--nom-grid-tr-modified-bg);

  &:hover {
    background-color: var(--nom-grid-tr-modified-bg-hover);
  }
}

.nom-grid-checker-and-order {
  position: relative;
  display: inline-flex;

  > .nom-checkbox {
    visibility: hidden;
    transition: none;
    opacity: 0;
  }

  > .nom-grid-order-text {
    transition: none;
    position: absolute;
    top: 6px;
    left: -4px;
    width: 24px;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
  }
}

.nom-tr.s-checked {
  background-color: var(--nom-grid-tr-checked-bg);

  &:hover {
    background-color: var(--nom-grid-tr-checked-bg-hover);
  }
}

.nom-tr.s-checked,
.nom-tr:hover {
  .nom-grid-checker-and-order {
    > .nom-checkbox {
      visibility: visible;
      opacity: 1;
    }

    > .nom-grid-order-text {
      visibility: hidden;
    }
  }
}

.nom-td {
  .nom-grid-td-cell-tree {
    display: flex;
    align-items: center;
    flex-grow: 1;
    > .nom-tree-grid-td {
      flex-grow: 1;
      width: 0;
      overflow: hidden;
    }
  }
  &.nom-table-ellipsis {
    .nom-tree-grid-td {
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.nom-grid .nom-expanded-tr .nom-table-expanded-tr-td-compact {
  padding: 0;
}
