.nom-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .nom-grid-header {
    z-index: 10;
  }
  .hidden {
    display: none;
  }
  .nom-grid-setting {
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 11;
  }

  > .nom-grid-header {
    overflow: hidden;
    .nom-th {
      &.nom-table-parent-th {
        text-align: center;
      }
      .nom-icon {
        position: relative;
        top: 2px;
        margin-left: 5px;
        color: #aaa;
        &.p-type-sort-up,
        &.p-type-sort-down,
        &.nom-filter-active {
          color: @primary;
        }
      }
    }
  }

  > .nom-grid-body {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: auto;

    > .nom-grid-body-content {
      overflow-x: auto;
    }
  }
  > .nom-grid-footer {
    position: relative;
    overflow: hidden;
    .nom-table {
      overflow: auto;
    }
  }

  &.p-bordered {
    border: 1px solid gainsboro;

    > .nom-grid-body {
      margin-bottom: -1px;
    }
    > .nom-grid-body + .nom-grid-footer {
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }

  &.nom-table-has-row-group {
    tbody tr,
    tbody tr:hover {
      background-color: inherit;
      transition: all ease-in 0.25s;
    }
  }

  &.m-frozen-header {
    position: relative;
    display: flex;
    flex-direction: column;

    > .nom-grid-header {
      flex-shrink: 0;
      background-color: #fafafa;
      > .nom-table {
        background-color: #fafafa;
      }

      > .nom-grid-header-content {
        overflow: hidden;
      }
    }

    > .nom-grid-body {
      flex: 1;
      height: 100%;
      overflow-y: scroll;

      > .nom-grid-body-content {
        overflow-x: auto;
        overflow-y: scroll;
      }
    }
  }
}
.nom-grid-setting-panel {
  min-width: 300px;
}
