.nom-loading-container {
  position: relative;

  .nom-loading-icon {
    transform: scale(1.15);

    &.status-success {
      color: var(--nom-color-success);
    }

    &.status-fail {
      color: var(--nom-color-danger);
    }
  }
}

.nom-loading-animate-hide {
  -webkit-animation: nom-loading-hide 1800ms ease forwards;
  animation: nom-loading-hide 1800ms ease forwards;
  & + .nom-layer-backdrop {
    display: none;
  }
}

@keyframes nom-loading-hide {
  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes nom-loading-hide {
  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
