.nom-tab-list {
    .list-unstyled();

    margin: 0;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: @link-hover-color;
        }
    }

    &.p-direction-horizontal {
        display: flex;
        flex-wrap: wrap;

        >.nom-tab-item-wrapper>.nom-tab-item {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            white-space: nowrap;
            text-decoration: none;
        }
    }

    &.p-uistyle-plain {
        >.nom-list-item-wrapper>.nom-list-item {
            &.s-selected {
                color: @primary;
            }
        }
    }
}

.nom-tabs {
    &.p-uistyle-plain {
        >.nom-tab-content {
            margin-top: 1rem;
        }
    }
}