.nom-tab-list {
    .list-unstyled();

    margin: 0;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: @link-hover-color;
        }
    }

    &.p-direction-horizontal {
        display: flex;
        flex-wrap: wrap;

        >.nom-tab-item-wrapper>.nom-tab-item {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            white-space: nowrap;
            text-decoration: none;
        }
    }

    &.p-uistyle-plain {
        >.nom-list-item-wrapper>.nom-list-item {
            display: block;
            padding: .5rem 1rem;
            text-decoration: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

            &.s-selected {
                color: @primary;
            }
        }
    }

    &.p-uistyle-hat {
        border-bottom: 1px solid #dee2e6;

        >.nom-list-item-wrapper>.nom-list-item {
            display: block;
            padding: .5rem 1rem;
            margin-bottom: -1px;
            text-decoration: none;
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

            &.s-selected {
                color: #495057;
                background-color: #fff;
                border-color: #dee2e6 #dee2e6 #fff;
            }
        }
    }

    &.p-uistyle-line {
        border-bottom: 1px solid #dee2e6;

        >.nom-list-item-wrapper>.nom-list-item {
            display: block;
            padding: .5rem 1rem;
            text-decoration: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

            &.s-selected {
                color: #495057;
                background-color: #fff;
                border-color: #dee2e6 #dee2e6 #fff;
            }
        }
    }

    &.p-uistyle-card {
        background-color: #f5f7fa;
        border-bottom: 1px solid #dee2e6;

        >.nom-list-item-wrapper {
            &:first-child {
                >.nom-list-item {
                    margin-left: -1px;
                }
            }

            >.nom-list-item {
                display: block;
                padding: .5rem 1rem;                            
                border: 1px solid transparent;
                margin-bottom: -1px;
                color: #909399;
                text-decoration: none;    
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

                &.s-selected {
                    color: #495057;
                    background-color: #fff;
                    border-color: #fff #dee2e6;
                }
            }
        }
    }
}

.nom-tabs {
    &.p-uistyle-plain {
        >.nom-tab-content {
            margin-top: 1rem;
        }
    }

    &.p-uistyle-hat {
        >.nom-tab-content {
            margin-top: 1rem;
        }
    }

    &.p-uistyle-card {
        background: #fff;
        border: 1px solid #dcdfe6;

        >.nom-tab-content {
            padding: 1rem;
        }
    }
}