.markdown-article,
.nom-precode {
  // max-width: 1300px;
  padding: 20px 60px;
  // * {
  //   color: #34495e;
  // }

  p {
    box-sizing: border-box !important;
    min-height: 1em !important;
    margin: 20px 0 !important;
    line-height: 1.7 !important;
    letter-spacing: 1px !important;
    text-align: justify;
    word-wrap: break-word !important;
  }

  blockquote {
    margin: 0;
    padding: 0 15px !important;
    border-left: 4px solid var(--nom-color-primary);
  }

  strong {
    font-weight: bold;
  }

  body {
    font-size: 15px;
  }

  pre {
    padding: 12px 13px;
    font-size: 13px;
    word-wrap: break-word;
    border-radius: 3px;
    background: #2a2c2d;
    color: #e6e6e6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin: 20px 0;
    padding-bottom: 0.3em;
    color: #2c3e50;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    word-break: break-all !important;
  }

  h1::before,
  h2::before,
  h3::before {
    position: absolute;
    top: -2px;
    left: -0.8em;
    color: var(--nom-color-primary);
    font-weight: bold;
    font-size: 1.2em;
    content: '#';
  }

  h1 {
    /* border-bottom: 8px solid #71BA51 !important; */
    font-size: 20px !important;
  }

  h2 {
    /* border-bottom: 5px solid #71BA51 !important; */
    font-size: 18px !important;
  }

  h3 {
    /* border-bottom: 5px solid #71BA51 !important; */
    font-size: 16px !important;
  }

  a {
    color: var(--nom-color-primary) !important;
    text-decoration: none !important;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  li {
    line-height: 24px;
  }


  table {
    width: 100%;
    word-break: break-all;
    table-layout: fixed;

    code {
      color: #fa0;
    }

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #eee;

      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        min-width: 40%;
      }

      &:nth-child(3) {
        width: 30%;
      }

      &:nth-child(4) {
        width: 15%;
      }
    }
  }
}

.nom-layout-body {
  >#DemoContent {
    height: 100%;

    >.nom-tab-panel {
      height: 100%;
    }
  }
}