.padding-demo {
  background-size: 5.66px 5.66px;
  --stripes-color: hsla(0, 0%, 100%, 0.4);
  background-image: linear-gradient(
    45deg,
    var(--stripes-color) 12.5%,
    transparent 12.5%,
    transparent 50%,
    var(--stripes-color) 50%,
    var(--stripes-color) 62.5%,
    transparent 62.5%,
    transparent 100%
  );
  color: inherit !important;
  background-color: #edf2ff !important;
}

.padding-demo > div {
  padding: 1rem !important;
  color: inherit !important;
  background-color: #d4e0ff !important;
}
