.nom-checkbox-list {
  > .nom-field-content {
    > .nom-list > .nom-list-content > .nom-list-item-wrapper > label {
      display: inline-flex;
      padding-top: @padding-y-base;
      padding-bottom: @padding-y-base;
      font-size: 1rem;
      line-height: @line-height-base;
      cursor: pointer;
      transition: all 0.3s;

      > span.checkbox {
        position: relative;
        width: calc(1rem + 2px);
        min-width: calc(1rem + 2px);
        height: calc(1rem + 2px);
        margin-top: calc(~'(1em * @{line-height-base} - 1em)/2 + 0px');
        margin-right: 0.5em;
        background-color: var(--nom-checkbox-bg);
        border: 1px solid var(--nom-checkbox-border-color);
        border-radius: var(--nom-checkbox-border-radius);
        box-shadow: var(--nom-checkbox-box-shadow);
        &:hover {
          background-color: var(--nom-checkbox-bg-hover);
        }
      }

      &.s-selected {
        > span.checkbox {
          background-color: var(--nom-checkbox-checked-bg);
          border-color: var(--nom-checkbox-checked-border-color);
          &:hover {
            background-color: var(--nom-checkbox-checked-bg-hover);
          }
          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 5px;
            height: 10px;
            margin-top: -6px;
            margin-left: -2px;
            line-height: @line-height-base;
            border: solid var(--nom-checkbox-checker-color);
            border-width: 0 2px 2px 0 !important;
            box-shadow: var(--nom-checkbox-checker-box-shadow);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: '';
          }
        }
      }
    }
  }
}
