.nom-radio-list.p-uistyle-radio {
  > .nom-field-content {
    > .nom-list {
      > .nom-list-content {
        margin: -0.5rem -0.5rem;

        > .nom-list-item-wrapper {
          padding: 0.5rem 0.5rem;

          > label {
            display: inline-flex;
            padding-top: @padding-y-base;
            padding-bottom: @padding-y-base;
            font-size: 1rem;
            line-height: @line-height-base;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.3s;

            > span.radio {
              position: relative;
              width: calc(1rem + 2px);
              min-width: calc(1rem + 2px);
              height: calc(1rem + 2px);
              min-height: inherit;
              margin-top: ~'calc((1em * @{line-height-base} - 1em - 2px)/2)';
              margin-right: 0.5rem;
              background-color: var(--nom-checkbox-bg);
              border: 1px solid var(--nom-checkbox-border-color);
              border-radius: 50% !important;
              box-shadow: var(--nom-checkbox-box-shadow);
              &:hover {
                background-color: var(--nom-checkbox-bg-hover);
              }
            }
            &.s-selected {
              > span.radio {
                background-color: var(--nom-checkbox-checked-bg);
                border-color: var(--nom-checkbox-checked-border-color);
                &::after {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  display: block;
                  width: 6px;
                  height: 6px;
                  margin-top: -3px;
                  margin-left: -3px;
                  background: var(--nom-checkbox-checker-color);
                  border: solid var(--nom-checkbox-checker-color);
                  border-radius: 100% !important;
                  box-shadow: var(--nom-checkbox-checker-box-shadow);
                  content: '';
                }
              }
            }
          }
        }
      }
    }
  }
}

.nom-radio-list.p-uistyle-button {
  > .nom-field-content {
    > .nom-list {
      > .nom-list-content {
        display: inline-flex;

        > .nom-list-item-wrapper {
          &:first-child {
            padding-left: 1px;
          }

          > label {
            position: relative;
            display: inline-flex;
            margin-left: -1px;
            padding-top: @padding-y-base;
            padding-right: @padding-x-base;
            padding-bottom: @padding-y-base;
            padding-left: @padding-x-base;
            font-size: 1rem;
            line-height: @line-height-base;
            background-color: @white;
            border: 1px solid #d9d9d9;
            cursor: pointer;
            transition: all 0.3s;
          }

          &:first-child > label {
            border-left: 1px solid #d9d9d9;
            border-radius: 4px 0 0 4px;
          }

          &:last-child > label {
            border-radius: 0 4px 4px 0;
          }

          > label.s-selected {
            color: var(--nom-color-primary);
            border-color: var(--nom-color-primary);
          }
        }
      }
    }
  }
}
