.nom-breadcrumb {
  padding:var(--nom-breadcrumb-padding);
  color: rgba(var(--nom-black),0.45);
  > .nom-breadcrumb-item {
    &.p-with-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    > .nom-breadcrumb-link + .nom-icon {
      padding-left: @padding-x-xs;
    }

    > .nom-icon + .nom-breadcrumb-link {
      padding-left: @padding-x-xs;
    }

    > .nom-breadcrumb-separator {
      padding: 0 @padding-x-sm;
    }

    > .nom-breadcrumb-link {
      a {
        text-decoration: none;
        outline: none;
        &:hover {
          color: @primary
        }
      }
    }

    &:last-child {
      color: rgba(0, 0, 0, 0.85);
      > .nom-breadcrumb-link {
        > a {
          color: rgba(0, 0, 0, 0.85);
          &:hover{
            color:@primary;
          }
        }
      }
      > .nom-breadcrumb-separator {
        display: none;
      }
    }
  }
}
