.wt-work-hour-grid .nom-number-input input {
  text-align: center;
}

.wt-work-hour-grid .wt-work-hour-grid-hour {
  background: #ccc;
  border-radius: 4px;
  position: relative;
}

.wt-work-hour-grid .wt-work-hour-grid-hour .nom-icon {
  position: absolute;
  top: 2px;
  right: 4px;
  color: #fff;
  visibility: hidden;
}

.wt-work-hour-grid .wt-work-hour-grid-hour.wt-work-hour-grid-hour-approved .nom-icon {
  visibility: visible;
}

.wt-work-hour-grid .nom-grid-footer td {
  background-color: #fafafa;
}

.wt-work-hour-grid .nom-grid-footer .nom-td-excel-mode:hover {
  box-shadow: none;
  cursor: default;
}

.wt-work-hour-grid .nom-grid-footer td:last-child {
  position: sticky;
}

.wt-work-hour-grid .nom-grid-footer td:last-child:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.15);
  transform: translate(-100%);
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  content: '';
}
