.nom-comment-body {
  padding-top: 1rem;
  ;
}

textarea.nom-comment-textarea {
  display: block;
  width: 100%;
  min-height: 32px;
  padding: 4px 11px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;

}

textarea.nom-comment-textarea:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
}

.nom-comment-bottom {
  padding: 8px 11px;
  overflow: hidden;
}

.nom-comment-emoji {
  float: left;
  font-size: 19px;
  cursor: pointer;

}

.nom-comment-user {
  float: left;
  margin-left: 1rem;
  font-size: 22px;
  line-height: 19px;
  cursor: pointer;
}

.nom-comment-submit {
  float: right;
}
