.nom-comment a {
  text-decoration: none !important;
}

.nom-comment-title {
  position: relative;
  display: inline-block;
  margin-bottom: .4rem;
  font-size: 16px;
  cursor: pointer;
}

.nom-comment-title::after {
  position: absolute;
  top: -8px;
  right: -12px;
  width: 12px;
  height: 12px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  content: 'x';
}

.nom-comment-item-box {
  height: 300px;
  overflow-y: auto;
  transition: all .1s;
}

.nom-comment-author {
  margin-right: 1rem;
}

.nom-comment-action-btn {
  float: right;
  margin-right: 1rem;
  visibility: hidden;
}

.nom-comment-reply {
  margin-left: 3rem;
  padding: 0.5rem;
  font-size: 10px;
  background-color: #eee;
}

.nom-comment-one:hover .nom-comment-action-btn {
  visibility: visible;
}

.nom-comment-reply-to {
  display: none;
  margin-right: 0.5rem;
  color: #aaa;
  cursor: pointer;
}

.nom-comment-reply-to-show {
  display: inline-block;
}

.nom-comment-item .nom-col:nth-child(2) {
  width: 100%;
}

.nom-comment-item {
  margin-bottom: 1rem;
}

.nom-comment-action-btn-none {
  display: none;
}

.nom-comment-more {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.nom-comment-body {
  padding-top: 1rem;
}

.nom-comment-textarea {
  display: block;
  width: 100%;
  min-height: 90px;
  max-height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 11px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;

}

.nom-comment-textarea:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
}

.nom-comment-bottom {
  padding: 8px 11px;
  overflow: hidden;
}

.nom-comment-icon-emoji {
  float: left;
  font-size: 19px;
  cursor: pointer;

}

.nom-comment-icon-user {
  float: left;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 22px;
  line-height: 19px;
  cursor: pointer;
}

.nom-comment-submit {
  float: right;
}

.nom-comment-atbtn {
  margin-right: 5px;
  padding: 0;
  color: #38b7e9;
  background: transparent;
  border-style: none;
}

.nom-comment-user {
  width: 268px;
  height: 326px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  animation: hahaha .3s linear 0s 1 normal forwards;
}

.nom-comment-emoji li,
.nom-comment-user li {
  list-style: none;
}

.nom-comment-search {
  position: relative;
  height: 32.5px;
  font-size: 14px;
  line-height: 32.5px;
}

.nom-comment-input-search {
  width: 100%;
  height: 32.5px;
  padding: 4px 40px 4px 11px;
  overflow: hidden;
  line-height: 32.5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: all .3s;
}

.nom-comment-input-search:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
}

.nom-comment-search-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none !;
}

.nom-comment-atboxs {
  height: 270px;
  margin: 0;
  padding: 0;
  padding: 12px 10px;
  overflow-y: auto;
}

.nom-comment-atboxs-item {
  width: 100%;
  margin-bottom: 4px;
  padding: 2px;
  cursor: pointer;
  transition: border-radius .2s;
}

@keyframes hahaha {
  from {
    transform: scaleX(0);

  }

  to {
    transform: scaleX(1);

  }
}

.nom-comment-atboxs-name {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nom-comment-atboxs-item.on,
.nom-comment-atboxs-item:hover {
  color: #fff;
  background-color: #4263eb;
  border-radius: 4px;
}

.nom-comment-emoji {
  width: 400px;
  height: 250px;
  padding: 10px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  animation: hahaha .3s linear 0s 1 normal forwards;
}

.nom-comment-emoji-item {
  float: left;
  width: 30px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.nom-comment-emoji-item:hover {
  background: #dadada;
}

.nom-comment-emoji-img {
  margin-right: 5px;
}
