.nom-list {
    .list-unstyled();
    padding: 0;
    margin: 0;

    >.nom-list-item-wrapper>.nom-list-item {
        &.s-selected {
            z-index: 2;
        }

        >a {
            display: block;
        }
    }

    &.p-align-start {
        align-items: flex-start !important;
    }

    &.p-align-end {
        align-items: flex-end !important;
    }

    &.p-align-center {
        align-items: center !important;
    }

    &.p-align-stretch {
        align-items: stretch !important;
    }

    &.p-justify-start {
        justify-content: flex-start !important;
    }

    &.p-justify-end {
        justify-content: flex-end !important;
    }

    &.p-justify-center {
        justify-content: center !important;
    }

    &.p-justify-between {
        justify-content: space-between !important;
    }

    &.p-justify-around {
        justify-content: space-around !important;
    }

    &.p-direction-horizontal {
        display: flex;

        &.p-gutter-md {
            margin: 0 -1rem;

            >.nom-list-item-wrapper {
                padding: 0 1rem;
            }
        }

        &.p-gutter-sm {
            margin: 0 -.5rem;

            >.nom-list-item-wrapper {
                padding: 0 .5rem;
            }
        }

        &.p-gutter-lg {
            margin: 0 -1.25rem;

            >.nom-list-item-wrapper {
                padding: 0 1.25rem;
            }
        }

        &.p-line-split {
            >.nom-list-item-wrapper {
                .u-border-right();

                &:last-child {
                    border-right: 0;
                }
            }
        }

        &.p-line-grid {
            margin: 0;

            >.nom-list-item-wrapper {
                box-shadow: 1px 0 0 0 #e8eaec, 0 1px 0 0 #e8eaec, 1px 1px 0 0 #e8eaec, inset 1px 0 0 0 #e8eaec, inset 0 1px 0 0 #e8eaec;
            }
        }

        >.p-wrap {
            flex-wrap: wrap;
        }
    }

    &.p-direction-vertical {
        display: flex;
        flex-direction: column;

        &.p-gutter-md {
            margin: -.5rem 0;

            >.nom-list-item-wrapper {
                padding: .5rem 0;
            }
        }

        &.p-gutter-sm {
            margin: -.25rem 0;

            >.nom-list-item-wrapper {
                padding: .25rem 0;
            }
        }

        &.p-gutter-lg {
            margin: -.75rem 0;

            >.nom-list-item-wrapper {
                padding: .75rem 0;
            }
        }

        &.p-line-split {
            >.nom-list-item-wrapper {
                .u-border-bottom();

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        &.p-line-grid {
            >.nom-list-item-wrapper {
                box-shadow: 1px 0 0 0 @border-color, 0 1px 0 0 @border-color, 1px 1px 0 0 @border-color, inset 1px 0 0 0 @border-color, inset 0 1px 0 0 @border-color;
            }
        }
    }


}