.nom-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;

    &.m-border {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid;
        text-align: center;
        position: relative;

        >i {
            position: relative;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    &.m-bg {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-color: @oc-gray-2;
        text-align: center;
        position: relative;

        >i {
            position: relative;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }
}